body {
  font-family: cursive;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}
.hidden {
  display: none;
}
.contents {
  background-color: rgba(201, 173, 19, 0.3);
  width: max-content;
  height: max-content;
  margin: 60px 60px 30px 60px;
  padding: 20px;
  border-radius: 30px;
}
.time-box {
  background-color: rgba(201, 173, 19, 0.5);
  padding: 20px;
  border-radius: 40px;
}
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-box > div span:first-child {
  font-weight: 800;
  font-size: 40px;
}
.time-box > div span:last-child {
  font-weight: 600;
  font-size: 32px;
}
