body {
  font-family: cursive;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.hidden {
  display: none;
}
.main-contents {
  background-color: rgba(0, 0, 255, 0.2);
  width: 90%;
  height: 80%;
  margin: 20px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
}
.info-contents {
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(0, 0, 255, 0.3);
}
.time-box {
  background-color: rgba(0, 0, 255, 0.5);
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 30px;
}
.weather-box {
  background-color: rgba(0, 0, 255, 0.5);
  padding: 20px;
  border-radius: 40px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-box > div span:first-child {
  font-weight: 800;
  font-size: 40px;
}
.time-box > div span:last-child {
  font-weight: 600;
  font-size: 32px;
}
